@charset "utf-8";

#point_list_table > thead {
  background: #5eb954;
}

.grp_sakura {
  background: #ffdbed !important;
}

.grp_hinata {
  background: #7cc7e8 !important;
}

.odd_row {
  background-color: white;
}

.even_row {
  background-color: floralwhite;
}

.pt_col {
  text-align: right;
}

.grp {
  text-align: center;
}

.name {
  width: 6rem;
}

.head_event_name {
  width: 200px;
}

.header_low {
  width: 80px;
}

.header_middle {
  width: 90px;
}

.header_high {
  width: 100px;
}
